window#waybar {
  font-family: "JetBrains Mono NerdFont";
  background-color: rgba(0,0,0,0);
  font-size: 0.8rem;
  border-radius: 0.5rem;
  min-height: 25px;
}

.modules-left, .modules-center {
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
  border-radius: 0.5rem;
  padding: 2px;
}

.modules-right {
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
  border-radius: 0.5rem;
  padding: 2px 2px 2px 10px;
}

/* label.module {
margin-left: -1px;
} */

  #workspaces {
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    padding: 0 2px;
  }

  #workspaces button {
    font-size: 0.8rem;
    padding: 0 0.3rem;
  }

  #workspaces button.active {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.3rem;
  }

  #window {
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    padding: 2px 5px;
  }

  #clock {
    font-weight: bolder;
    border-radius: 0.5rem;
    padding: 0 3px 0 0;
    color: #b4befe; /* Lavender */
  }

  #battery {
    color: #f9e2af; /* Yellow */
  }

  #memory {
    color: #f5c2e7; /* Pink */
  }
  #memory.warning {
    color: #f9e2af; /* Yellow */
  }
  #memory.critical {
    color: #f38ba8; /* Red */
  }

  #disk {
    color: #74c7ec; /* Sapphire */
  }
  #disk.warning {
    color: #f9e2af; /* Yellow */
  }
  #disk.critical {
    color: #f38ba8; /* Red */
  }

  #cpu {
    color: #fab387; /* Peach */
  }
  #cpu.warning {
    color: #f9e2af; /* Yellow */
  }
  #cpu.critical {
    color: #f38ba8; /* Red */
  }

  #temperature {
    color: #94e2d5; /* Teal */
  }
  #temperature.warning {
    color: #f9e2af; /* Yellow */
  }
  #temperature.critical {
    color: #f38ba8; /* Red */
  }

  #pulseaudio {
    color: #89b4fa; /* Blue */
  }

  #custom-internet.online {
    color: #a6e3a1; /* Green */
  }

  #custom-internet.offline {
    color: #f38ba8; /* Red */
  }

#idle_inhibitor {
    padding-top: 2px;
}
