/*
 * Catppuccin Mocha Pallete
 *
 * Rosewater: #f5e0dc
 * Flamingo: #f2cdcd
 * Pink: #f5c2e7
 * Mauve: #cba6f7
 * Red: #f38ba8
 * Maroon: #eba0ac
 * Peach: #fab387
 * Yellow: #f9e2af
 * Green: #a6e3a1
 * Teal: #94e2d5
 * Sky: #89dceb
 * Sapphire: #74c7ec
 * Blue: #89b4fa
 * Lavender: #b4befe
 * Text: #cdd6f4
 * Subtext1: #bac2de
 * Subtext0: #a6adc8
 * Overlay2: #9399b2
 * Overlay1: #7f849c
 * Overlay0: #6c7086
 * Surface2: #585b70
 * Surface1: #45475a
 * Surface0: #313244
 * Base: #1e1e2e
 * Mantle: #181825
 * Crust: #11111b
 */

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: #cdd6f4;
}

window#waybar {
  background: #1e1e2e;
}

/* Workspace Buttons */
#workspaces button label {
  color: #cdd6f4;
  padding: 0 10px;
}
#workspaces button.active label {
  color: #1e1e2e;
}
#workspaces button.active {
  background: #f2cdcd; /* Flamingo */
}

#clock, #battery, #pulseaudio, #tray, #language, #weather {
  padding: 0 10px;
  margin: 0 10px;
}

#custom-keyboard-layout {
  margin: 0;
  color: #fab387; /* Peach */
  border-bottom: 5px solid #fab387;
}

#custom-weather {
  margin: 0;
  color: #f9e2af; /* Yellow */
  border-bottom: 5px solid #f9e2af;
}

#pulseaudio {
  margin: 0;
  color: #a6e3a1; /* Green */
  border-bottom: 5px solid #a6e3a1;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #f38ba8; /* Red */
  border-bottom: 5px solid #f38ba8;
}

/* Стили для Wi-Fi */
#waybar #network.wifi {
  padding: 0 20px;
  color: #f38ba8; /* Red */
  border-bottom: 5px solid #f38ba8;
}

/* Стили для проводного подключения */
#waybar #network.ethernet {
  padding: 0 20px;
  color: #89b4fa; /* Красный */
  border-bottom: 5px solid #89b4fa;
}

#battery {
  margin: 0;
  color: #89b4fa; /* Blue */
  border-bottom: 5px solid #89b4fa;
}

#clock {
  margin: 0;
  color: #b4befe; /* Lavender */
  border-bottom: 5px solid #b4befe;
}

#tray {
  margin: 0;
  color: #f5e0dc; /* Rosewater */
  border-bottom: 5px solid #f5e0dc;
}
